
html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
    margin: 0;
    font-size: 1em;
}



nav {
    position: fixed;
    height: 100dvh;
    width: 15em;

    border-right: 1px solid gray;
    top: 0;
    left: 0;

    ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        margin: 0;
        padding: 0;
        padding: 1em;

        li {
            position: relative;
            float: left;

            a {
                display: flex;
                flex-direction: column;
                text-decoration: none;
                color: white;
                font-size: 1.8em;
                font-weight: bold;
                text-align: left;
                padding: 0.5em 0em;
            }

            a:hover {
                color: #4488ff;

            }

            a.active {
                color: #4488ff;
            }
        }


        img {
            width: 7.5em;
            height: 7.5em;
            margin: 0em auto;
        }
    }

}

div.pageContent {
    display: flex;
    flex-direction: row;

    div.createAndArticles::-webkit-scrollbar {
        display: none;
    }

    div.createAndArticles {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        overflow: scroll;
        div.topNav{
            border-bottom: 1px solid gray;
            margin: 0em 0em 0em 15em;
            height: 3.75em;
            ul{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                list-style: none;
                padding-inline-start: 0em;
                height: 3.75em;
                margin-block-start: 0em;
                margin-block-end: 0em;

                li{
                border-bottom: 0.25em solid #4488ff;
                height: 2.5em;
                padding-top: 1em;
                    a{
                        font-size: 1.2em;
                        color: white;
                        text-decoration: none;
                        padding: 1em 0em 1em 0em;

                    }
                }
            }
        }

        div.createPost {
            display: flex;
            flex-direction: row;
            height: fit-content;
            width: auto;
            margin: 0em 0em 0em 15em;
            padding: 1em;
            border-bottom: 1px solid gray;

            img {
                width: 5em;
                max-width: 5em;
                min-width: 5em;
                max-height: 5em;
                min-height: 5em;
                height: 5em;
                margin: 0em 1em 0em 0em;
                flex: 1;
            }
            form.contentAndLowernav{
                display: flex;
                flex-direction: column;
                width: auto;
                flex: 8;
                    textarea {
                        margin: 0em 0em 1em 0em;
                        padding: 0.5em;
                        width: auto;
                        height: fit-content;
                        min-height: 10em;
                        border: 1px solid gray;
                        background-color: black;
                        color: white;
                        font-size: 1.2em;
                        resize: none;
                        border-radius: 1em;

                    }

                    textarea:focus {
                        outline: none;
                    }

                    textarea::placeholder {
                        color: white;
                    }

                    div.lowerNav {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;

                        div.addables {
                            ul {
                                display: flex;
                                flex-direction: row;
                                list-style: none;
                                padding-inline-start: 0em;
                                margin-block-start: 0em;
                                margin-block-end: 0em;

                                li {
                                    margin: 0em 1em;
                                    display: flex;
                                    justify-content: center;

                                    p {
                                        color: white;
                                    }

                                }

                                li.firstIcon {
                                    margin: 0em 1em 0em 0em;
                                }
                            }

                        }

                        input.postButton {
                            background-color: #4488ff;
                            color: white;
                            border-radius: 2em;
                            width: fit-content;
                            min-width: 5em;
                            padding: 0.75em;
                            border: none;
                            font-weight: bold;
                            margin: auto 0em auto auto;

                        }


                    }
            }


        }

        div.articles {
            article {
                display: flex;
                flex-direction: row;
                height: auto;
                width: auto;
                margin: 0em 0em 0em 15em;
                padding: 1em;
                border-bottom: 1px solid gray;

                /* border-right: 1px solid gray;  */
                /*mode this towards the right part with trending and stuff */

                img {
                    width: 5em;
                    max-width: 5em;
                    min-width: 5em;
                    max-height: 5em;
                    min-height: 5em;
                    height: 5em;
                    margin: 0em 1em 0em 0em;
                    flex: 1;
                }

                div.userAndContent {
                    display: flex;
                    flex-direction: column;
                    flex: 8;

                    div.user {
                        display: flex;
                        flex-direction: row;

                        p {
                            color: white;
                            margin-block-start: 0em;
                            margin-block-end: 0em;
                        }

                        .handle {
                            font-weight: lighter;
                            color: grey;
                            padding: 0em 0.2em;
                        }

                        .timePosted {
                            font-weight: lighter;
                            color: grey;
                        }

                        .username {
                            font-weight: bold;
                        }
                    }

                    div.content {
                        display: flex;
                        flex-direction: column;

                        p {
                            color: white;

                        }
                    }

                    div.analytics {
                        ul {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            padding: 0;

                            li {
                                a {
                                    color: white;
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                }
            }
        }

        div.endOfContent {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: auto;
            width: auto;
            margin: 0em 0em 0em 15em;
            padding: 1em;

            img {
                width: 7.5em;
                height: 7.5em;
            }

            p {
                color: white;
                font-size: 1.2em;
                margin: 0;
            }

            div {
                margin: 1em;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }

    div.sideMenu {
        display: flex;
        flex-direction: column;
        border-left: 1px solid gray;
        width: 50em;
        min-height: 100dvh;

        div.search {
            form {
                border-radius: 2.5em;
                margin: 1em 1em 0.5em 1em;
                background-color: gray;
                display: flex;
                flex-direction: row;

                input.search {
                    border: none;
                    color: white;
                    font-weight: bolder;
                    background-color: transparent;
                    font-size: 1.5em;
                    width: 15em;

                }

                input::placeholder {
                    color: white;
                }

                input:focus {
                    outline: none;
                }

                input.searchbutton {
                    background-color: transparent;
                    border: none;
                    padding: 0.5em;
                    font-size: 1.5em;
                }
            }
        }

        div.premium {
            border: 1px solid gray;
            border-radius: 1em;
            margin: 0.5em 1em;
            padding: 1em;

            p {
                color: white;
            }

            h2 {
                color: white;
                margin-block-start: 0;
                margin-block-end: 0;

            }

            button {
                background-color: #4488ff;
                color: white;
                border-radius: 2em;
                height: fit-content;
                width: fit-content;
                padding: 0.75em;
                border: none;
                font-weight: bold;
            }
        }

        div.trending {
            display: flex;
            flex-direction: column;
            border: 1px solid gray;
            border-radius: 1em;
            margin: 0.5em 1em;
            padding: 1em;

            h2 {
                color: white;
                margin-block-start: 0;
                margin-block-end: 0;
            }

            a {
                color: white;
                text-decoration: none;
            }

        }
    }
}

div.login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    img {
        height: 24em;
        width: 24em;
        margin: auto 5em;
    }

    div.loginSideText {
        display: flex;
        flex-direction: column;
        margin: auto 5em;

        h1 {
            color: white;
            font-size: 5em;
        }

        form {
            display: flex;
            flex-direction: column;

            label {
                font-size: 3em;
                color: white;
            }

            input {
                height: 2em;
                width: 16em;
                background-color: white;
                border: transparent;
                color: black;
                font-size: 1.5em;
                margin: 1em 0em;
                padding: 0em 0em 0em 0.5em;
                        
            }

            input.loginButton {
                background-color: white;
                border: transparent;
            }

            input:focus {
                outline: none;
            }

        }

        div.linksLoginPage {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            max-width: 24em;

            a {
                color: white;
                text-decoration: none;
                font-size: 1.2em;
            }
        }
    }

}
div.createAccount {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    img {
        height: 24em;
        width: 24em;
        margin: auto 5em;
    }

    div.createAccountSideText {
        display: flex;
        flex-direction: column;
        margin: auto 5em;

        h1 {
            color: white;
            font-size: 5em;
        }

        form {
            display: flex;
            flex-direction: column;
            div.createAccountFull{
                display: flex;
                flex-direction: row;
                div.createAccountHalf{
                    display: flex;
                    flex-direction: column;
                    label {
                        font-size: 3em;
                        color: white;
                    }
        
                    input {
                        height: 2em;
                        width: 16em;
                        background-color: white;
                        border: transparent;
                        color: black;
                        font-size: 1.5em;
                        margin: 1em 0em;
                        padding: 0em 0em 0em 0.5em;
                    }
                    input:focus {
                        outline: none;
                    }

                }
                div.createAccountRight{
                    margin-left: 3em;
                }
            }
            input.createAccountButton{
                height: 2em;
                width: 34em;
                background-color: white;
                border: transparent;
                color: black;
                font-size: 1.5em;
                margin: 1em 0em;
                padding: 0em;
                
            }
        }

        div.linksCreateAccountPage {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            max-width: 51em;

            a {
                color: white;
                text-decoration: none;
                font-size: 1.2em;
            }
        }
    }

}


.userpage{
    color: white;
    margin: 0em 0em 0em 15em;
    .bannerPfp{
        width: 100%;
        height: 20em;
        position: relative;
        /* border: 1px solid #4488ff;    */
        /* background-color: maroon; */

        
        img.banner{

            width: 100%;

            height: 15em;
            position: absolute;
            /* background-color: maroon; */
        }
        img.profilePicture{
            position: absolute;
            margin-top: 10em;
            margin-left: 2em;
            width: 10em;
            height: 10em;
            border-radius: 50%;
            /* border: 1px solid #4488ff; */
            background-color: maroon;
        }

    }


    .textUser{
        position: relative;
        margin-left: 1em;
        .usernameHandle{
            display: flex;
            flex-direction: row;
            .handle{
                color: gray;
                margin-left: 0.5em;
            }
        }
        .status{
            margin-block-start: 0em;
            margin-block-end: 0em;
        }
        .userInfo{
            .userAbout{
                display: flex;
                justify-content: row;
                p{
                    color: gray;
                    margin-block-start: 1em;
                    margin-block-end: 0em;
                }
                a{
                    margin: 0em 0.5em;
                }
            }
            p{
                color: gray;
                margin-block-start: 0em;
                margin-block-end: 1em;
            }
        }
        .followingFollowers{
            display: flex;
            flex-direction: row;
            .following, .followers{
                display: flex;
                flex-direction: row;
                .followNumber{
                    color: white;
                    font-weight: bold;
                    margin-block-start: 0em;
                    margin-block-end: 0em;
                }
                .followText{
                    color: gray;
                    margin-left: 0.5em;
                    margin-block-start: 0em;
                    margin-block-end: 0em;
                }
            }
            .followers{
                margin-left: 1em;
            }
        }
    }
}
.test{
    margin: 0;
}